.grey-background {
  background-color: #9c9c9c;
}

.primary-background {
  background-color: #481b92;
}

.blue-background {
  background-color: #6184d8;
}

.center-text {
  text-align: center;
}

.hidden-scroll {
  overflow: hidden;
}

.flex-center {
  align-items: center;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-right-2 {
  margin-right: 2rem;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.root,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#logo {
  font-family: "Grape Nuts", cursive;
  display: block;
  margin: 0.75rem 0;
  padding: 0.25rem 1rem;
  color: white;
  cursor: pointer;
  transform: rotate(-10deg);
}

.navbar {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0rem 10%;
  background-color: #481b92;
  box-shadow: 0 0.1rem 0.1rem black;
  z-index: 4;
  min-height: 5rem;
}

.nav-list {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
}

.nav-item {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: white;
  z-index: 3;
  transition: all 0.25s;
}
@media (max-width: 1280px) {
  .nav-item {
    display: none;
  }
}

.nav-item:hover {
  color: black;
  font-size: 1.5rem;
}

.nav-item::after {
  content: "";
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: all 0.25s;
}

.nav-item:hover::after {
  transform: scale(1);
  background-color: white;
  border-radius: 0.5rem;
}

.nav-link {
  position: relative;
  display: block;
  z-index: 2;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
}

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  display: flex;
  align-items: center;
}

.page {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sliding-banner {
  position: relative;
  margin-top: 2rem;
  width: 40vw;
  min-width: 32rem;
  max-width: 64rem;
}
.sliding-banner .event-thumbnail {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  height: 5rem;
  width: 100%;
}
.sliding-banner .event-thumbnail .event {
  height: 100%;
  width: 20%;
  opacity: 0.4;
  margin: 0 1rem;
  background-color: white;
  cursor: pointer;
}
.sliding-banner .event-thumbnail .event img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.sliding-banner .event-thumbnail .event.current {
  opacity: 1;
}
.sliding-banner .slideshow {
  position: relative;
  max-height: 36rem;
  min-height: 18rem;
  height: 22.5vw;
  width: 100%;
  background-color: pink;
  overflow: hidden;
}
.sliding-banner .slideshow .slides {
  position: relative;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  transition: left 0.5s;
}
.sliding-banner .slideshow .slides .event {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.sliding-banner .slideshow .slides .event img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.burger {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.25s;
}
@media (min-width: 1281px) {
  .burger {
    display: none;
  }
}
.burger .burger-line {
  height: 0.25rem;
  width: 2.25rem;
  border-radius: 0.25rem;
  background-color: white;
  transition: all 0.25s;
}
.burger.clicked {
  transform: rotate(360deg);
}
.burger .burger-line.clicked:first-child {
  transform: translate(0, 0.75rem) rotate(45deg);
}
.burger .burger-line.clicked:nth-child(2) {
  opacity: 0;
}
.burger .burger-line.clicked:last-child {
  transform: translate(0, -0.75rem) rotate(-45deg);
}
.burger .burger-line:nth-child(2) {
  margin: 0.5rem 0rem;
}

#overlay {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 5rem;
  bottom: 0;
  width: 100%;
  overflow: none;
  z-index: 2;
  transition: background-color 0.25s, visibility 0.25s;
}
#overlay .overlay-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #481b92;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  min-width: 0;
  overflow: hidden;
  transition: all 0.25s;
  padding-bottom: 2rem;
}
#overlay .overlay-list .overlay-item {
  white-space: nowrap;
  color: white;
  font-size: 1rem;
  transition: all 0.25s;
}
#overlay .overlay-list .overlay-item:hover {
  font-size: 1.5rem;
  color: black;
  background-color: white;
}
#overlay .overlay-list.clicked {
  width: 25%;
  min-width: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
}

#overlay.clicked {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}

.left-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
  z-index: 2;
}

.left-arrow:hover {
  background-color: #a3a3a3;
}

.left-arrow::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.25rem;
  width: 0;
  height: 0;
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent;
  border-right: 1.25rem solid black;
}

.right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
}

.right-arrow:hover {
  background-color: #a3a3a3;
}

.right-arrow::after {
  content: "";
  display: flex;
  margin-right: -0.25rem;
  width: 0;
  height: 0;
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent;
  border-left: 1.25rem solid black;
}

.page .block {
  display: flex;
  justify-content: center;
  padding: 5rem 0 3rem 0;
  color: white;
  font-size: 1.5rem;
  width: 100%;
}
.page .block .icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.page .block .block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%;
  max-width: 100rem;
  flex-wrap: wrap;
}
.page .block .block-content .columns {
  display: flex;
  flex-wrap: wrap;
}
.page .block .block-content .columns .text {
  flex: 1 1 0;
  padding: 1rem 1rem;
}
@media (max-width: 1280px) {
  .page .block .block-content .columns .text {
    flex: 1 1 100%;
  }
}
.page .block h1 {
  font-size: 3rem;
  margin-top: 0;
}
.page .block button {
  background-color: white;
  font-size: 1.5rem;
  border: 0.25rem solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: all 0.25s;
}
.page .block button:hover {
  background-color: #b4b4b4;
}
.page .block .text {
  flex: 1 1 0;
}
@media (max-width: 1280px) {
  .page .block .text {
    flex: 1 1 100%;
  }
}
.page .block .image-container {
  position: relative;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .page .block .image-container {
    flex: 1 1 100%;
  }
}
.page .block .image-container .image {
  width: 100%;
  border-radius: 3rem;
}

.footer {
  display: flex;
  flex: 1 1 100%;
  background-color: #481b92;
  justify-content: center;
  color: white;
}
.footer .footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 66%;
  max-width: 100rem;
  list-style: none;
}
.footer .footer-list .footer-item {
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.25s;
  cursor: pointer;
}
.footer .footer-list .footer-item:hover {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=index.css.map */
